@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply py-[75px];
  }
}
@layer components {
  .container {
    @apply max-w-full w-[1440px] px-5 mx-auto;
  }
  .btn {
    @apply bg-primaryColor py-[15px] px-[35px] rounded-[50px] text-white font-semibold mt-[38px];
  }
  .heading {
    @apply text-[44px] leading-[54px] font-bold text-headingColor;
  }
  .text_para {
    @apply text-[18px] leading-[30px] font-normal text-textColor mt-[18px];
  }
  .header {
    @apply bg-[url('./assets/images/mask.png')] bg-no-repeat bg-cover bg-center w-full h-[100px] leading-[100px];
  }
  .hero_section {
    @apply bg-[url('./assets/images/hero-bg.png')] bg-no-repeat bg-cover bg-center;
  }
}
@media only screen and (max-width: 1024px) {
  section {
    @apply py-[35px];
  }
  .container {
    @apply w-full;
  }
}
@media only screen and (max-width: 768px) {
  .heading {
    @apply text-[26px] leading-[36px];
  }
  .text_para {
    @apply text-[16] leading-7 mt-3;
  }
}
